<!DOCTYPE HTML>

<html>
	<head>
    <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">  
		<title>My shop</title>
    <style>

      
    </style>
	</head>
	<body>
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="index" class="nav-link active" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="productdetail" class="nav-link">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Bag</a></li>
            </ul>
          </header>
      
          <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
            <div class="col-md-6 p-lg-5 mx-auto my-5">
              <h1 class="display-3 fw-bold">My Store</h1>
              <h3 class="fw-normal text-muted mb-3">Find Anything You Want To Buy</h3>
              <div class="d-flex gap-3 justify-content-center lead fw-normal">
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                  <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
                </a>
              </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
          </div>


      
          <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://down-tx-th.img.susercontent.com/th-11134210-7rasc-m28361qidaqs0f" class="d-block w-100" alt="Sam Tv 01">
              </div>
              <div class="carousel-item">
                <img src="https://down-tx-th.img.susercontent.com/th-11134210-7rase-m28361qiepb8aa" class="d-block w-100" alt="Sam Tv 02">
              </div>
              <div class="carousel-item">
                <img src="https://down-th.img.susercontent.com/file/th-50009109-1f1c1c17dec1482b4156ab8709de56ed" class="d-block w-100" alt="Sam Refeg 01">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>          



<div class = "container">
<div class="row mt-4">
<div class="col-sm-4">
    <div class="card " style="width: 18rem;">
        <img src="https://down-th.img.susercontent.com/file/th-11134201-7r98u-lwfhunnm6brgf3.webp" class="card-img-top" alt="sam tv 01">
        <div class="card-body">
          <h5 class="card-title">SAMSUNG 65in 4K UHD QLED 2024 <i class="bi bi-badge-4k"></i> </h5>
          <p class="card-text">฿34,990</p>
          <a href="samtv1" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <img src="https://f.btwcdn.com/store-46980/product/811ccf25-ec47-7a47-1cf3-66c6d08fd4fa.jpg" class="card-img-top" alt="tcl tv 01">
        <div class="card-body" length="286" height="166">
          <h5 class="card-title">TCL 65in 4k QLED 2024 120Hz </h5>
          <p class="card-text">฿35,990.</p>
          <a href="tcltv1" class="btn btn-primary">Buy</a>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="card" style="width: 18rem;">
        <img src="https://down-th.img.susercontent.com/file/th-11134201-7r98q-ly20mmq16thr0d@resize_w900_nl.webp" class="card-img-top" alt="sam tv 02">
        <div class="card-body">
          <h5 class="card-title">Samsung QLED TV 75in 4K Smart TV 2023</h5>
          <p class="card-text">฿30,990</p>
          <a href="samtv2" class="btn btn-primary">Buy</a>
        </div>
      </div>
</div>
</div>

<div class="row mt-4">

  <div class="col-sm-4">  
    <div class="card" style="width: 18rem;">
        <img src="https://mediam.dotlife.store/media/catalog/product/cache/3b7e899159f673788675d87d1d929a98/s/o/sony-ps5-pro-001.jpeg" class="card-img-top" alt="ps5pro">
        <div class="card-body">
          <h5 class="card-title">PlayStation®5 Pro (CFI-7022B01)</h5>
          <p class="card-text">29,490 THB</p>
          <a href="ps501" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="https://down-th.img.susercontent.com/file/th-11134207-7r98s-lwwgswp9aawga1" class="card-img-top" alt="ps5slimdisc">
        <div class="card-body">
          <h5 class="card-title">PlayStation 5 Console (SLIM) - Disc Edition</h5>
          <p class="card-text">18,690 THB</p>
          <a href="ps502" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>
      <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img src="https://down-th.img.susercontent.com/file/a07bf999fcf036ba53d3912dc5fad26b" class="card-img-top" alt="ps5">
        <div class="card-body">
          <h5 class="card-title">PlayStation 5 Console - Disc Edition</h5>
          <p class="card-text">19,736 THB</p>
          <a href="ps503" class="btn btn-primary">Buy</a>
        </div>
      </div>
      </div>

      <div class="row mt-4">

        <div class="col-sm-4">  
          <div class="card" style="width: 18rem;">
              <img src="https://media.studio7thailand.com/152065/TH_iPad_10th_Gen_Cellular_Blue_1-square_medium.jpg" class="card-img-top" alt="ipad10">
              <div class="card-body">
                <h5 class="card-title">Apple iPad gen10 10.9in Wi‑Fi</h5>
                <p class="card-text">฿19,450</p>
                <a href="ipad1" class="btn btn-primary">Buy</a>
              </div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="https://media.studio7thailand.com/151466/iPad-Air-11-M2-WiFi-Blue-Image-Position-2-square_medium.jpg" class="card-img-top" alt="ipadair6">
              <div class="card-body">
                <h5 class="card-title">11-inch Apple iPad Air M2 Wi-Fi</h5>
                <p class="card-text">฿19,500</p>
                <a href="ipad2" class="btn btn-primary">Buy</a>
              </div>
            </div>
            </div>
            <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
              <img src="https://media.studio7thailand.com/161496/iPad_mini_Purple_PDP_Image_Position_2_WiFi__TH-TH-square_medium.jpg" class="card-img-top" alt="ipadmini">
              <div class="card-body">
                <h5 class="card-title">iPad mini A17 Pro 256GB Wifi</h5>
                <p class="card-text">฿21,900</p>
                <a href="ipad3" class="btn btn-primary">Buy</a>
              </div>
            </div>
            </div>

</div>

</div>
        
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2024 My Store</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
  </ul>
</footer>



	</body>
</html>