<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tcl01</title>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
crossorigin="anonymous">  
<title>MyShop</title>
<style>


</style>

</head>
<body>
    
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="index" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="productdetail" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Bag</a></li>
        </ul>
    </header>

<div class="container">
<div class="row mt-5">

    <div class="col sm-4">
        <img src="https://f.btwcdn.com/store-46980/product/811ccf25-ec47-7a47-1cf3-66c6d08fd4fa.jpg" class="rounded mx-auto d-block" alt="..." width="500" height="500">
    </div>

    <div class="col sm-4">
        <h1 class="display-3 fw-bold">TCL 65in 4k QLED 2024 120Hz</h1>
        <h3 class="fw-normal text-muted mb-3">฿35,990.</h3>
        <h4 class="text-muted">- 4K Mini LED TV Resolution 3840 x 2160
            <br>
            - QLED : Quantum Dot Technology 94% DCI-P3
            <br>
            - Full Array Local Dimming 65": 512 Zones
            <br>
            - Google TV OS
            <br>
            - CPU: 64 bit A73*4@1.1GHz max 1.39GHz + GPU: G52 MC1 550Mhz
            <br>
            - Hand-Free Voice Control
            <br>
            - Airplay 2/Homekit
        </h4>
    </div>
</div>
</div>

</body>
</html>
